<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DemoApp</display-name>
  <welcome-file-list>
    <welcome-file>Default.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Admin Servlet Web Admin</display-name>
    <servlet-name>AxisAdminServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisAdminServlet</servlet-name>
    <url-pattern>/axis2-admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeviceConfig</display-name>
    <servlet-name>DeviceConfig</servlet-name>
    <servlet-class>DeviceConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeviceConfig</servlet-name>
    <url-pattern>/DeviceConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreMainPage</display-name>
    <servlet-name>PreMainPage</servlet-name>
    <servlet-class>PreMainPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreMainPage</servlet-name>
    <url-pattern>/PreMainPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainHalfPage</display-name>
    <servlet-name>MainHalfPage</servlet-name>
    <servlet-class>MainHalfPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainHalfPage</servlet-name>
    <url-pattern>/MainHalfPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainMidPage</display-name>
    <servlet-name>MainMidPage</servlet-name>
    <servlet-class>MainMidPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainMidPage</servlet-name>
    <url-pattern>/MainMidPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainPage</display-name>
    <servlet-name>MainPage</servlet-name>
    <servlet-class>MainPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPage</servlet-name>
    <url-pattern>/MainPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartScanPage</display-name>
    <servlet-name>StartScanPage</servlet-name>
    <servlet-class>StartScanPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartScanPage</servlet-name>
    <url-pattern>/StartScanPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScanPage</display-name>
    <servlet-name>ScanPage</servlet-name>
    <servlet-class>ScanPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScanPage</servlet-name>
    <url-pattern>/ScanPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Kiruthika</display-name>
    <servlet-name>Kiruthika</servlet-name>
    <servlet-class>Kiruthika</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Kiruthika</servlet-name>
    <url-pattern>/Kiruthika</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppServerDetails</display-name>
    <servlet-name>AppServerDetails</servlet-name>
    <servlet-class>AppServerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppServerDetails</servlet-name>
    <url-pattern>/AppServerDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FTPAppServerDetails</display-name>
    <servlet-name>FTPAppServerDetails</servlet-name>
    <servlet-class>FTPAppServerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FTPAppServerDetails</servlet-name>
    <url-pattern>/FTPAppServerDetails</url-pattern>
  </servlet-mapping>
</web-app>